NodeRed/flows(8).json
[
    {
        "id": "6ac9f5d8c1360e74",
        "type": "tab",
        "label": "Mauc Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6e29e9fa79dc137c",
        "type": "group",
        "z": "6ac9f5d8c1360e74",
        "name": "Dasboard",
        "style": {
            "stroke": "#bfdbef",
            "fill": "#bfdbef",
            "fill-opacity": "0.5",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "46e78669e40dc191",
            "841f11889ba813f9",
            "685ae0a51b23ba99",
            "260bdaaef1072660",
            "6ad52518fc18d68f",
            "36a0dd1f37e67e1c"
        ],
        "x": 774,
        "y": 179,
        "w": 432,
        "h": 202
    },
    {
        "id": "862f6a3cb02489a8",
        "type": "group",
        "z": "6ac9f5d8c1360e74",
        "name": "MQTT Broker",
        "style": {
            "stroke": "#ffbfbf",
            "fill": "#ffbfbf",
            "fill-opacity": "0.52",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "4c8735910c6307a5",
            "a976ed757f0c0797",
            "59a6ac37ab9cbca2"
        ],
        "x": 1094,
        "y": 519,
        "w": 232,
        "h": 202
    },
    {
        "id": "aea00400c476a383",
        "type": "group",
        "z": "6ac9f5d8c1360e74",
        "name": "Consoles for checking output",
        "style": {
            "stroke": "#e3f3d3",
            "fill": "#e3f3d3",
            "fill-opacity": "0.56",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "9d97a5176f1baec9",
            "07bac7ff6f356348"
        ],
        "x": 494,
        "y": 119,
        "w": 192,
        "h": 142
    },
    {
        "id": "5fbdf58aa0884e59",
        "type": "group",
        "z": "6ac9f5d8c1360e74",
        "name": "Toggle Text or Chart View",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "fill-opacity": "0.48",
            "label": true,
            "color": "#ffC000"
        },
        "nodes": [
            "fb6daf9638c635c1",
            "1861f518f0f4d1aa",
            "800481cf43afa29c"
        ],
        "x": 434,
        "y": 639,
        "w": 432,
        "h": 142
    },
    {
        "id": "d32977234b60588a",
        "type": "json",
        "z": "6ac9f5d8c1360e74",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "07bac7ff6f356348",
                "9d97a5176f1baec9",
                "90f027b5333e9b19",
                "685ae0a51b23ba99",
                "260bdaaef1072660",
                "36a0dd1f37e67e1c"
            ]
        ]
    },
    {
        "id": "9d97a5176f1baec9",
        "type": "debug",
        "z": "6ac9f5d8c1360e74",
        "d": true,
        "g": "aea00400c476a383",
        "name": "oxygen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.SpO2",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "07bac7ff6f356348",
        "type": "debug",
        "z": "6ac9f5d8c1360e74",
        "d": true,
        "g": "aea00400c476a383",
        "name": "heart rate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.heartRate",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "90f027b5333e9b19",
        "type": "function",
        "z": "6ac9f5d8c1360e74",
        "name": "separateInput",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nmsg1.payload = msg.payload.heartRate;\nmsg1.topic = 'HeartRate';\nmsg2.payload = msg.payload.SpO2;\nmsg2.topic = 'Oxygen';\nmsg3.payload = msg.payload.rawData;\nmsg3.topic = 'RawData';\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            [
                "4c8735910c6307a5",
                "46e78669e40dc191"
            ],
            [
                "a976ed757f0c0797",
                "841f11889ba813f9"
            ],
            [
                "59a6ac37ab9cbca2",
                "6ad52518fc18d68f"
            ]
        ]
    },
    {
        "id": "4c8735910c6307a5",
        "type": "mqtt out",
        "z": "6ac9f5d8c1360e74",
        "g": "862f6a3cb02489a8",
        "name": "",
        "topic": "group03/heartRate",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b9396f10dd5623f3",
        "x": 1210,
        "y": 560,
        "wires": []
    },
    {
        "id": "a976ed757f0c0797",
        "type": "mqtt out",
        "z": "6ac9f5d8c1360e74",
        "g": "862f6a3cb02489a8",
        "name": "",
        "topic": "group03/oxygen",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b9396f10dd5623f3",
        "x": 1200,
        "y": 620,
        "wires": []
    },
    {
        "id": "c5a5d651eb1be118",
        "type": "comment",
        "z": "6ac9f5d8c1360e74",
        "name": "Function splits json inputs into separate outputs",
        "info": "",
        "x": 620,
        "y": 580,
        "wires": []
    },
    {
        "id": "bdea059f76dc043d",
        "type": "serial in",
        "z": "6ac9f5d8c1360e74",
        "name": "Arduino",
        "serial": "e62806e8b033933d",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "d32977234b60588a"
            ]
        ]
    },
    {
        "id": "841f11889ba813f9",
        "type": "ui_chart",
        "z": "6ac9f5d8c1360e74",
        "g": "6e29e9fa79dc137c",
        "name": "",
        "group": "230c1206f749d2e0",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "chart oxygen",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "685ae0a51b23ba99",
        "type": "ui_text",
        "z": "6ac9f5d8c1360e74",
        "g": "6e29e9fa79dc137c",
        "group": "595ab55947a8f23d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "oxygen",
        "format": "{{msg.payload.SpO2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "260bdaaef1072660",
        "type": "ui_text",
        "z": "6ac9f5d8c1360e74",
        "g": "6e29e9fa79dc137c",
        "group": "595ab55947a8f23d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "raw data",
        "format": "{{msg.payload.rawData}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "59a6ac37ab9cbca2",
        "type": "mqtt out",
        "z": "6ac9f5d8c1360e74",
        "g": "862f6a3cb02489a8",
        "name": "",
        "topic": "group03/rawData",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b9396f10dd5623f3",
        "x": 1210,
        "y": 680,
        "wires": []
    },
    {
        "id": "6ad52518fc18d68f",
        "type": "ui_chart",
        "z": "6ac9f5d8c1360e74",
        "g": "6e29e9fa79dc137c",
        "name": "",
        "group": "230c1206f749d2e0",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart raw data",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#98df8a",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "fb6daf9638c635c1",
        "type": "mqtt in",
        "z": "6ac9f5d8c1360e74",
        "g": "5fbdf58aa0884e59",
        "name": "",
        "topic": "group03/config",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b9396f10dd5623f3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 680,
        "wires": [
            [
                "1861f518f0f4d1aa",
                "800481cf43afa29c"
            ]
        ]
    },
    {
        "id": "1861f518f0f4d1aa",
        "type": "ui_ui_control",
        "z": "6ac9f5d8c1360e74",
        "g": "5fbdf58aa0884e59",
        "name": "Switch view",
        "events": "all",
        "x": 750,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "46e78669e40dc191",
        "type": "ui_chart",
        "z": "6ac9f5d8c1360e74",
        "g": "6e29e9fa79dc137c",
        "name": "",
        "group": "230c1206f749d2e0",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "chart heart rate",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e01b24",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "800481cf43afa29c",
        "type": "debug",
        "z": "6ac9f5d8c1360e74",
        "g": "5fbdf58aa0884e59",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "36a0dd1f37e67e1c",
        "type": "ui_text",
        "z": "6ac9f5d8c1360e74",
        "g": "6e29e9fa79dc137c",
        "group": "595ab55947a8f23d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "heart rate",
        "format": "{{msg.payload.heartRate}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "b9396f10dd5623f3",
        "type": "mqtt-broker",
        "name": "Labor Broker",
        "broker": "10.10.131.27",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e62806e8b033933d",
        "type": "serial-port",
        "name": "Labor Port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "230c1206f749d2e0",
        "type": "ui_group",
        "name": "Charts",
        "tab": "d854bfbedd180967",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "595ab55947a8f23d",
        "type": "ui_group",
        "name": "Text",
        "tab": "d854bfbedd180967",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d854bfbedd180967",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]