NodeRed/flows(3).json
[
    {
        "id": "626f7cb2a81a521f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d854bfbedd180967",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d75d125031a8f909",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "756b5ec1cb9095de",
        "type": "ui_group",
        "name": "Default",
        "tab": "d854bfbedd180967",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "854e19f24f5c811a",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e3f4c9005b595f91",
        "type": "serial-port",
        "name": "",
        "serialport": "dev/tty/USB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "100"
    },
    {
        "id": "03f2df650556a4f2",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "e515f0f01a3a4641",
        "type": "ui_text",
        "z": "626f7cb2a81a521f",
        "group": "756b5ec1cb9095de",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Read Oxygen in Blood",
        "format": "{{msg.payload.SpO2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "ef821ae9413ca972",
        "type": "ui_text",
        "z": "626f7cb2a81a521f",
        "group": "756b5ec1cb9095de",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Read Beats per Minute",
        "format": "{{msg.payload.heartRate}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "6525dbe37a5d38ed",
        "type": "serial in",
        "z": "626f7cb2a81a521f",
        "name": "Arduino",
        "serial": "03f2df650556a4f2",
        "x": 50,
        "y": 420,
        "wires": [
            [
                "5125c8b97f5f1b4d"
            ]
        ]
    },
    {
        "id": "5125c8b97f5f1b4d",
        "type": "json",
        "z": "626f7cb2a81a521f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "df26a9da5babd6db",
                "15bd5d7dad5cb7bd",
                "e515f0f01a3a4641",
                "1b51c879289ea13f",
                "ef821ae9413ca972"
            ]
        ]
    },
    {
        "id": "15bd5d7dad5cb7bd",
        "type": "debug",
        "z": "626f7cb2a81a521f",
        "name": "oxygen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.SpO2",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "df26a9da5babd6db",
        "type": "debug",
        "z": "626f7cb2a81a521f",
        "name": "heart rate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.heartRate",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "1c69f3e74e818295",
        "type": "ui_chart",
        "z": "626f7cb2a81a521f",
        "name": "",
        "group": "756b5ec1cb9095de",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "help",
        "dot": true,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e01b24",
            "#1c71d8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1b51c879289ea13f",
        "type": "function",
        "z": "626f7cb2a81a521f",
        "name": "function 1",
        "func": "var msg1 = {};\nvar msg2 = {};\nmsg1.payload = msg.payload.heartRate;\nmsg1.topic = 'HeartRate';\nmsg2.payload = msg.payload.SpO2;\nmsg2.topic = 'Oxygen';\nreturn [msg1, msg2];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "1c69f3e74e818295",
                "2e1092ef348e71da"
            ],
            [
                "1c69f3e74e818295",
                "2e1092ef348e71da"
            ]
        ]
    },
    {
        "id": "2e1092ef348e71da",
        "type": "mqtt out",
        "z": "626f7cb2a81a521f",
        "name": "",
        "topic": "pulseData",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "854e19f24f5c811a",
        "x": 740,
        "y": 320,
        "wires": []
    }
]