NodeRed/mauc flow.json
[
    {
        "id": "80f6b7fe62e107d7",
        "type": "tab",
        "label": "Mauc Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d67718f3bfcd66bf",
        "type": "group",
        "z": "80f6b7fe62e107d7",
        "name": "Dasboard",
        "style": {
            "stroke": "#bfdbef",
            "fill": "#bfdbef",
            "fill-opacity": "0.5",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "703c0a78c8097755",
            "a12418ca4247b0e8",
            "ef5786b512900186",
            "64f788b4135cfb82",
            "5168380316014d30",
            "a618d3336ac65b65"
        ],
        "x": 774,
        "y": 179,
        "w": 432,
        "h": 202
    },
    {
        "id": "8b0c7ef31aa537b3",
        "type": "group",
        "z": "80f6b7fe62e107d7",
        "name": "MQTT Broker",
        "style": {
            "stroke": "#ffbfbf",
            "fill": "#ffbfbf",
            "fill-opacity": "0.52",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "d5b631eff8adfd8f",
            "ecd1dff446031bd4",
            "ba5be8d3002613a1"
        ],
        "x": 1094,
        "y": 519,
        "w": 232,
        "h": 202
    },
    {
        "id": "d5f77ff3d76138be",
        "type": "group",
        "z": "80f6b7fe62e107d7",
        "name": "Consoles for checking output",
        "style": {
            "stroke": "#e3f3d3",
            "fill": "#e3f3d3",
            "fill-opacity": "0.56",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "e0e93c6523cad5a8",
            "bd6a6a4465c66bae"
        ],
        "x": 494,
        "y": 119,
        "w": 192,
        "h": 142
    },
    {
        "id": "c4433495f1818037",
        "type": "group",
        "z": "80f6b7fe62e107d7",
        "name": "Toggle Text or Chart View",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "fill-opacity": "0.48",
            "label": true,
            "color": "#ffC000"
        },
        "nodes": [
            "d0a5eefa3c54ee69",
            "590b3a7cc2ea409d"
        ],
        "x": 434,
        "y": 639,
        "w": 412,
        "h": 82
    },
    {
        "id": "cd85cb4db5769a50",
        "type": "json",
        "z": "80f6b7fe62e107d7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "bd6a6a4465c66bae",
                "e0e93c6523cad5a8",
                "39f6fe6a9e928d20",
                "ef5786b512900186",
                "64f788b4135cfb82",
                "a618d3336ac65b65"
            ]
        ]
    },
    {
        "id": "e0e93c6523cad5a8",
        "type": "debug",
        "z": "80f6b7fe62e107d7",
        "d": true,
        "g": "d5f77ff3d76138be",
        "name": "oxygen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.SpO2",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "bd6a6a4465c66bae",
        "type": "debug",
        "z": "80f6b7fe62e107d7",
        "d": true,
        "g": "d5f77ff3d76138be",
        "name": "heart rate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.heartRate",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "39f6fe6a9e928d20",
        "type": "function",
        "z": "80f6b7fe62e107d7",
        "name": "separateInput",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nmsg1.payload = msg.payload.heartRate;\nmsg1.topic = 'HeartRate';\nmsg2.payload = msg.payload.SpO2;\nmsg2.topic = 'Oxygen';\nmsg3.payload = msg.payload.rawData;\nmsg3.topic = 'RawData';\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            [
                "d5b631eff8adfd8f",
                "703c0a78c8097755"
            ],
            [
                "ecd1dff446031bd4",
                "a12418ca4247b0e8"
            ],
            [
                "ba5be8d3002613a1",
                "5168380316014d30"
            ]
        ]
    },
    {
        "id": "d5b631eff8adfd8f",
        "type": "mqtt out",
        "z": "80f6b7fe62e107d7",
        "g": "8b0c7ef31aa537b3",
        "name": "",
        "topic": "group03/heartRate",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "854e19f24f5c811a",
        "x": 1210,
        "y": 560,
        "wires": []
    },
    {
        "id": "ecd1dff446031bd4",
        "type": "mqtt out",
        "z": "80f6b7fe62e107d7",
        "g": "8b0c7ef31aa537b3",
        "name": "",
        "topic": "group03/oxygen",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "854e19f24f5c811a",
        "x": 1200,
        "y": 620,
        "wires": []
    },
    {
        "id": "6ce48f38c94de43b",
        "type": "comment",
        "z": "80f6b7fe62e107d7",
        "name": "Function splits json inputs into separate outputs",
        "info": "",
        "x": 620,
        "y": 580,
        "wires": []
    },
    {
        "id": "c472be9f30d72522",
        "type": "serial in",
        "z": "80f6b7fe62e107d7",
        "name": "Arduino",
        "serial": "3bea143dc1de4aa7",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "cd85cb4db5769a50"
            ]
        ]
    },
    {
        "id": "a12418ca4247b0e8",
        "type": "ui_chart",
        "z": "80f6b7fe62e107d7",
        "g": "d67718f3bfcd66bf",
        "name": "",
        "group": "26e1835807396ac0",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "chart oxygen",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ef5786b512900186",
        "type": "ui_text",
        "z": "80f6b7fe62e107d7",
        "g": "d67718f3bfcd66bf",
        "group": "756b5ec1cb9095de",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "oxygen",
        "format": "{{msg.payload.SpO2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "64f788b4135cfb82",
        "type": "ui_text",
        "z": "80f6b7fe62e107d7",
        "g": "d67718f3bfcd66bf",
        "group": "756b5ec1cb9095de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "raw data",
        "format": "{{msg.payload.rawData}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "ba5be8d3002613a1",
        "type": "mqtt out",
        "z": "80f6b7fe62e107d7",
        "g": "8b0c7ef31aa537b3",
        "name": "",
        "topic": "group03/rawData",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "854e19f24f5c811a",
        "x": 1210,
        "y": 680,
        "wires": []
    },
    {
        "id": "5168380316014d30",
        "type": "ui_chart",
        "z": "80f6b7fe62e107d7",
        "g": "d67718f3bfcd66bf",
        "name": "",
        "group": "26e1835807396ac0",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart raw data",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#98df8a",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d0a5eefa3c54ee69",
        "type": "mqtt in",
        "z": "80f6b7fe62e107d7",
        "g": "c4433495f1818037",
        "name": "",
        "topic": "group03/config",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "854e19f24f5c811a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 680,
        "wires": [
            [
                "590b3a7cc2ea409d"
            ]
        ]
    },
    {
        "id": "590b3a7cc2ea409d",
        "type": "ui_ui_control",
        "z": "80f6b7fe62e107d7",
        "g": "c4433495f1818037",
        "name": "Switch view",
        "events": "all",
        "x": 750,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "703c0a78c8097755",
        "type": "ui_chart",
        "z": "80f6b7fe62e107d7",
        "g": "d67718f3bfcd66bf",
        "name": "",
        "group": "26e1835807396ac0",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "chart heart rate",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e01b24",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a618d3336ac65b65",
        "type": "ui_text",
        "z": "80f6b7fe62e107d7",
        "g": "d67718f3bfcd66bf",
        "group": "756b5ec1cb9095de",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "heart rate",
        "format": "{{msg.payload.heartRate}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "854e19f24f5c811a",
        "type": "mqtt-broker",
        "name": "Local Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3bea143dc1de4aa7",
        "type": "serial-port",
        "name": "Evas Laptop Port",
        "serialport": "COM4",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "26e1835807396ac0",
        "type": "ui_group",
        "name": "Charts",
        "tab": "d854bfbedd180967",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "756b5ec1cb9095de",
        "type": "ui_group",
        "name": "Text",
        "tab": "d854bfbedd180967",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d854bfbedd180967",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]